<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>surface</title>
    <script src="js/echarts.min.js"></script>
    <script src="js/echarts-gl.min.js"></script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 600px;height:400px;"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    var xhr = new XMLHttpRequest();
    xhr.open('get','http://www.yycaptain.com/monitor/captain',true);
    xhr.setRequestHeader("Access-Control-Allow-Origin","*");//设置请求头
    xhr.setRequestHeader("Content-type","application/json");//设置请求头
    xhr.send();
    xhr.onreadystatechange = function () {
        if (xhr.readyState == 4 && xhr.status == 200) {
            var jsonStr = xhr.responseText;//获取到json字符串，还需解析
           // var jsonObj = eval(jsonStr);
            var jsonObj = JSON.parse(jsonStr);

            // 指定图表的配置项和数据
            var data = [];
            // 曲面图要求给入的数据是网格形式按顺序分布。
            for (var y = 0; y < 8000; y++) {// jsonObj.length
                data.push([parseInt(jsonObj[y].X), parseInt(jsonObj[y].Y), parseInt(jsonObj[y].Z)]);
            }
            console.log("load ",jsonObj.length," data.");
            option = {
                grid3D: {
                    axisPointer: {
                        show: true,
                    },
                    viewControl: {
                        distance: 100,
                        beta : -10,
                        alpha :50
                    },
                    postEffect: {
                        enable: true
                    },
                    light: {
                        main: {
                            shadow: false,
                            intensity: 2
                        },
                        ambientCubeMap: {
                            exposure: 2,
                            diffuseIntensity: 0.2,
                            specularIntensity: 1
                        }
                    }
                },
                xAxis3D: {
                },
                yAxis3D: {
                },
                zAxis3D: {
                },
                series: [{
                    type: 'surface',
                    wireFrame: {
                        show: false
                    },
                    itemStyle: {
                        color: 'rgb(73, 50, 199)'
                    },
                    data: data
                }]
            };
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        }
    };

</script>
</body>
</html>