<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>surface</title>
    <script src="js/echarts.js"></script>
    <script src="js/echarts-gl.min.js"></script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 600px;height:400px;"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    function makeGaussian(amplitude, x0, y0, sigmaX, sigmaY) {
        return function (amplitude, x0, y0, sigmaX, sigmaY, x, y) {
            var exponent = -(
                ( Math.pow(x - x0, 2) / (2 * Math.pow(sigmaX, 2)))
                + ( Math.pow(y - y0, 2) / (2 * Math.pow(sigmaY, 2)))
            );
            return amplitude * Math.pow(Math.E, exponent);
        }.bind(null, amplitude, x0, y0, sigmaX, sigmaY);
    }
    // 创建一个高斯分布函数
    var gaussian = makeGaussian(50, 0, 0, 20, 20);

    // 指定图表的配置项和数据
    var data = [];
    // 曲面图要求给入的数据是网格形式按顺序分布。
    for (var y = -50; y <= 50; y++) {
        for (var x = -50; x <= 50; x++) {
            var z = gaussian(x, y);
            data.push([x, y, z]);
        }
    }
    option = {
        grid3D: {},
        xAxis3D: {},
        yAxis3D: {},
        zAxis3D: { max: 60 },
        series: [{
            type: 'surface',
            data: data
        }]
    };


    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
</body>
</html>